.App {
  position: relative; /* This allows us to position children absolutely within it */
  height: 100vh;
}

.map-container {
  height: 100%;
  width: 100%;
}

.search-bar {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000; /* Ensures the search bar is on top of the map */

  background-color: white;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  
  display: flex;
  gap: 8px;
  width: 90%;
  max-width: 500px;
}

.search-bar input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 16px;
  outline: none; /* Remove outline on focus */
}

.search-bar input:focus {
  border-color: #007bff; /* Add a subtle highlight on focus */
}

.search-bar button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

.search-bar button:hover {
  background-color: #0056b3;
}

.parents-number-bar {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  display: flex;
  gap: 8px;
  width: 90%;
  max-width: 500px;
}


.alarm-controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-color: white;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.alarm-controls button {
  padding: 10px 15px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.2s;
}

.alarm-controls button:hover {
  background-color: #c82333;
}